<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :weather %>
    <%= form.text_field :weather, :class => 'wide' %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, :class => 'wide' %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, :rows=>"5" %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
