<p id="notice"><%= notice %></p>

<h1>お出かけアプリ</h1>

<div class="add-link-box">
<%= link_to '新しく登録する', new_place_path %>
</div>

<table class="main-table">
  <thead>
    <tr class="small-text">
      <th>日にち</th>
      <th>天気</th>
      <th>出かけた場所</th>
      <th>メモ</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td class="small-text align-center"><%= place.date %></td>
        <td class="align-center"><%= place.weather %></td>
        <td class="bold-text align-center"><%= place.place %></td>
        <td><%= place.memo %></td>
        <td class="small-text align-center">
          <span class="main-table-link"><%= link_to '詳細を見る', place %></span>
          <span class="main-table-link"><%= link_to '編集する', edit_place_path(place) %></span>
          <span class="main-table-link"><%= link_to '削除する', place, method: :delete, data: { confirm: '本当に削除しますか？' } %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>