<p id="notice"><%= notice %></p>

<h1>お出かけアプリ</h1>

<table>
  <thead>
    <tr>
      <th>日にち</th>
      <th>天気</th>
      <th>出かけた場所</th>
      <th>メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.date %></td>
        <td><%= place.weather %></td>
        <td><%= place.place %></td>
        <td><%= place.memo %></td>
        <td><%= link_to '詳細を見る', place %></td>
        <td><%= link_to '編集する', edit_place_path(place) %></td>
        <td><%= link_to '削除する', place, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく登録する', new_place_path %>
