<main class="main-index">
<p id="notice"><%= notice %></p>

<h1>お出かけアプリ</h1>

<div class="add-link-box">
<%= link_to '新しく登録する', new_place_path %>
</div>

<% @places.each do |place| %>
<article class="article-box">
<div class="article-header">
  <div class="article-date-box">
    <span class="article-date"><%= place.date %></span>
  </div>
  <div class="article-weather-box">
    <span class="article-weather"><%= place.weather %></span>
  </div>
</div>
<div class="article-main">
  <div class="article-place-box">
    <span class="article-place"><%= place.place %></span>
  </div>
  <div class="article-memo-box">
    <div class="article-memo">
      <%= simple_format(place.memo) %>
    </div>
    <%= image_tag(place.picture_url) if place.picture.present? %>
  </div>
</div>
<div class="article-footer">
  <div class="article-links">
    <div class="article-left-link">
      <span class="article-link"><%= link_to '詳細を見る', place %></span>
      <span class="article-link"><%= link_to '編集する', edit_place_path(place) %></span>
    </div>
    <div class="article-right-link">
      <span class="article-link"><%= link_to '削除', place, method: :delete, data: { confirm: '本当に削除しますか？' }, :class =>'delete-link' %></span>
    </div>
  </div>
</div>
</article>
<% end %>
</main>
