<p id="notice"><%= notice %></p>

<p>
  <strong>日にち:</strong>
  <%= @place.date %>
</p>

<p>
  <strong>天気:</strong>
  <%= @place.weather %>
</p>

<p>
  <strong>出かけた場所:</strong>
  <%= @place.place %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @place.memo %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag(@place.picture_url) if @place.picture.present? %>
</p>

<%= link_to '編集する', edit_place_path(@place) %> |
<%= link_to '一覧に戻る', places_path %>
