<p id="notice"><%= notice %></p>

<div class="show-item">
  <h3 class="title">日にち:</h3>
  <%= @place.date %>
</div>

<div class="show-item">
  <h3 class="title">天気:</h3>
  <%= @place.weather %>
</div>

<div class="show-item">
  <h3 class="title">出かけた場所:</h3>
  <%= @place.place %>
</div>

<div class="show-item">
  <h3 class="title">メモ:</h3>
  <%= simple_format(@place.memo) %>
</div>

<div class="show-item">
  <h3 class="title">画像:</h3>
  <%= image_tag(@place.picture_url) if @place.picture.present? %>
</div>

<%= link_to '編集する', edit_place_path(@place) %> |
<%= link_to '一覧に戻る', places_path %>
